<div class="col col-sm-12" *ngIf="!postulates && !responseMessage">
	<div id="preloaderSerpiente">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
	</div>
</div>
<div class="col col-sm-12 mt-4" [ngClass]="{'successMessage':status=='success', 'errorMessage':status=='error'}" *ngIf="(status=='error' || status=='success') && responseMessage">
	<span>{{ responseMessage }}</span><br/>
</div>
<div class="mb-4" *ngIf="!postulates"></div>
<div class="backLink d-inline-block col-sm-6 p-0" *ngIf="postulates">
	<a class="" href="javascript:history.back()">Regresar</a>
</div>
<div class="tableContainer" *ngIf="postulates">
	<h2 class="formTitle">{{ page_title }}</h2>
	<div class="tableContainerAll col col-sm-12">		
		<div id="preloaderDisco" *ngIf="preloaderStatus" class="mb-4"></div>
		<div class="paginationControls" *ngIf="postulates && postulates.length > itemsPerPage">
			<pagination-controls (pageChange)="pageChange($event)"
								 previousLabel="Anterior"
								 nextLabel="Siguiente"
								 maxSize="4">
			</pagination-controls>
		</div>
		<table class="table table-bordered">
			<thead class="thead_styles">
				<tr>
					<th width="6%"></th>
					<th width="15%">Nombres</th>
					<th width="15%">Apellidos</th>
					<th width="20%">Descripción</th>
					<th width="25%">Postulación</th>
					<th *ngIf="identity.role=='admin'">Acción</th>
				</tr>
			</thead>
			<tbody class="tbody_styles tableImage">
				<tr *ngFor="let postulate of postulates | paginate: {itemsPerPage: itemsPerPage, currentPage: actualPage};" class="tableStyles">
					<td [routerLink]="['/editar-postulado/', postulate.id]" *ngIf="postulate.photo"><img src="{{url}}postulates/get/image/{{postulate.photo}}" alt="{{postulate.name}} {{postulate.surname}}"></td>
					<td [routerLink]="['/editar-postulado/', postulate.id]" *ngIf="!postulate.photo"><img src="/assets/images/usuarioAnonimo.png" alt="{{postulate.name}} {{postulate.surname}}"></td>
					<td [routerLink]="['/editar-postulado/', postulate.id]">{{ postulate.name }}</td>
					<td [routerLink]="['/editar-postulado/', postulate.id]">{{ postulate.surname }}</td>
					<td [routerLink]="['/editar-postulado/', postulate.id]">{{ postulate.description }}</td>
					<td [routerLink]="['/editar-postulado/', postulate.id]">{{ postulate.votes_category.name }}</td>
					<td style="padding: 0.55rem"><button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#myModal'+postulate.id">Borrar</button></td>

					<!-- the Modal -->
					<div class="modal animated fadeIn faster" id="{{ 'myModal'+postulate.id }}">
						<div class="modal-dialog">
							<div class="modal-content">

								<!-- Modal Header -->
						    	<div class="modal-header">
						    		<h4 class="modal-title">Borrar el postulado a las votaciones definitivamente</h4>
						    		<button type="button" class="close" data-dismiss="modal">&times;</button>
						    	</div>

								<!-- Modal body -->
								<div class="modal-body">
									Seguro que quieres borrar el postulado: <b>{{ postulate.name }} {{ postulate.surname }}</b>?
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<a class="btn_close" (click)="deletePostulate(postulate.id)" data-dismiss="modal">Eliminar</a>
									<button type="button" class="btn_secure" data-dismiss="modal">Cerrar</button>
								</div>

							</div>
						</div>
					</div>				
				</tr>					
			</tbody>
		</table>		
		<div class="paginationControls" *ngIf="postulates && postulates.length > itemsPerPage">
			<pagination-controls (pageChange)="pageChange($event)"
								 previousLabel="Anterior"
								 nextLabel="Siguiente"
								 maxSize="4">
			</pagination-controls>
		</div>
	</div>
</div>
